@import '@material/card';
@import '@material/linear-progress';
@import '@material/textfield';
@import '@material/button';
@import '@material/icon-button';

.searchbar {
    -webkit-app-region: no-drag;
    position: fixed;
    width: 50vw;
    top: 8px;
    border-radius: 8px;
    z-index: 9;
    background: #ffffff66;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 48px;
    display: flex;
    color: #406575;

    .material-icons {
        width: 48px;
        height: 48px;
    }

    input {
        color: #406575;
        width: 100%;
        background: transparent;
        border: none;
        font-size: 1em;
        line-height: 1rem;
        font-family: var(--mdc-typography-font-family, Roboto, sans-serif);

        &:focus {
            outline: none;
        }
    }
}

.cards {
    width: auto !important;
    height: 100% !important;
    overflow-y: auto;
    margin: 0 auto;
    background: var(--mdc-theme-background);
}

.mdc-card {
    background: var(--mdc-theme-background);
    min-height: 200px;
    border-radius: 12px;
    margin: 20px;
    min-width: 375px;
    max-width: 375px;
    overflow: hidden;

    &:focus-within {
        box-shadow: 0 0 0 3px var(--mdc-theme-secondary); /* All the borders by using the spread properties */
    }

    .mdc-card__primary-action {
        padding: 0 16px 8px 16px;
        min-height: 250px;
        background-size: cover;
        background-position: center;

        .game-card__primary {
            margin-top: auto;
            margin-bottom: 36px;

            .mdc-typography--headline6 {
                color: white;
                margin-bottom: 0;
            }
            .mdc-typography--subtitle2 {
                color: var(--mdc-theme-primary);
                margin-top: 0;
                margin-bottom: 4px;
            }
        }
    }
    .mdc-card__action-buttons {
        height: 56px;
        margin-top: -56px;
        margin-left: 12px;
    }
}

.game-dialog {
    .dialog-content--loading {
        position: absolute;
        width: 100%;
    }
    .dialog-image {
        width: 100%;
    }
}

.selected-game {
    display: none;
    position: absolute;
    top: 64px;
    height: calc(100% - 64px);
    width: 100%;
    background: var(--mdc-theme-background);
    overflow-y: auto;
}

.game-info {
    .top-row {
        display: flex;
        margin: 32px;
        width: fit-content;

        &.installed {
            .mdc-typography--headline6 {
                margin-bottom: 44.6px !important;
            }
        }

        .mdc-card {
            min-width: 360px;
            min-height: 600px;
            overflow: visible;

            .mdc-card__primary-action {
                min-height: 600px;
                overflow: hidden;
                border-radius: 8px;
            }
        }
        .title-desc-container {
            display: flex;
            flex-direction: column;
            color: var(--color);
            .mdc-typography--body2 {
                width: 100%;
                max-height: 495px;
                overflow-y: auto;

                * {
                    width: 95%;
                }
            }
        }
    }

    .bottom-row {
        display: grid;
        flex-direction: column;
        margin: 32px 20px;
        max-width: 100%;

        .game-screenshots {
            width: 100%;
            height: 400px;
            display: flex;
            overflow-x: auto;
            border-radius: 10px;

            img {
                object-fit: cover;
                width: 500px;
                border-radius: 10px;
                margin-bottom: 12px;

                &:not(:last-of-type) {
                    margin-right: 12px;
                }
            }
        }

        .details {
            width: 100%;
            display: flex;
            justify-content: space-around;
            color: var(--color);
            margin-top: 16px;

            div {
                display: flex;
                flex-direction: column;
                p {
                    margin: 2px 0;
                }
            }
        }
    }

    .back-button-container {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mdc-theme-primary);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        -webkit-app-region: no-drag;

        button {
            @include ink-color(white);
        }
    }
}
