.main-content {
    overflow: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .intro {
        color: var(--color);

        h1:nth-of-type(2) {
            color: var(--color2);
        }
    }

    .cards {
        display: grid;
        height: fit-content;

        .mdc-card {
            background: var(--el2);
        }

        .mdc-card__primary-action {
            padding: 0 0 8px 16px;
            color: var(--color);
        }

        .card__title {
            margin-top: 12px;
            margin-bottom: 0px;
        }

        .card__subtitle {
            margin-top: 0px;
        }

        .mdc-card__actions {
            margin-top: auto;
        }
    }

    .cards {
        grid-gap: 20px;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fill, 300px);
        .mdc-card {
            margin-top: 20px;
            background: var(--el2);
            height: fit-content;
            max-width: 600px;
        }

        .mdc-card__primary-action {
            padding: 0 0 8px 16px;
            color: var(--color);
        }

        .demo-card__title {
            margin-top: 12px;
            margin-bottom: 0px;
        }

        .demo-card__subtitle {
            margin-top: 0px;
        }
    }

    .stats {
        width: 100%;
        height: fit-content;

        .cards {
            width: 100%;
            height: fit-content;

            grid-gap: 20px;
            grid-auto-rows: 400px;
            grid-template-columns: repeat(auto-fill, 300px);

            .mdc-card {
                width: 300px;
                height: 350px;

                .mdc-card__primary-action {
                    height: 100%;
                    padding: 0;

                    .card__primary {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;

                        .stat {
                            height: 200px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            h2 {
                                font-size: 4em;
                                color: var(--mdc-theme-secondary);
                                padding: 0;
                                margin: 0;
                            }
                        }

                        .title {
                            text-align: center;
                            h2 {
                                font-size: 2.2em;
                                margin-bottom: 0.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}
