.mdc-dialog {
    .mdc-dialog__content {
        display: flex;
        flex-direction: column;

        .execrow {
            display: flex;
            margin: 10px;

            .mdc-fab {
                height: 10px;
            }
        }
    }
}
