.mdc-dialog {
    .mdc-dialog__content {
        display: flex;
        flex-direction: column;

        .execrow {
            display: flex;
            margin: 10px;

            .admin {
                min-width: 0px;
                width: 36px;
                margin-right: 10px;
                i {
                    margin: 0px;
                }
            }
        }
    }
}
