body {
    background: #40c4ff;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        P {
            color: white;
            font-size: 7.5vw;
            font-family: sans-serif;
            font-weight: bold;
        }
    }

    .ripple {
        .circle:nth-child(5) {
            width: 1000px;
            height: 1000px;
            left: -500px;
            bottom: -500px;
            opacity: 0.2;
        }

        .circle:nth-child(4) {
            width: 800px;
            height: 800px;
            left: -400px;
            bottom: -400px;
            opacity: 0.5;
        }

        .circle:nth-child(3) {
            width: 600px;
            height: 600px;
            left: -300px;
            bottom: -300px;
            opacity: 0.7;
        }

        .circle:nth-child(2) {
            width: 400px;
            height: 400px;
            left: -200px;
            bottom: -200px;
            opacity: 0.8;
        }

        .circle:nth-child(1) {
            width: 200px;
            height: 200px;
            left: -100px;
            bottom: -100px;
            opacity: 1;
        }

        .circle {
            position: absolute;
            border-radius: 50%;
            background: #f57ba4;
            animation: ripple 3s infinite;
            box-shadow: 0px 0px 1px 0px #508fb9;
        }

        @keyframes ripple {
            0% {
                transform: scale(0.8);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(0.8);
            }
        }
    }
}
