@import '@material/button';
.overlays {
    .snackbar-container {
        position: absolute;
        bottom: 0;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;

        .mdc-snackbar {
            position: relative;
            display: flex;

            .mdc-snackbar__surface {
                display: flex;
                flex-direction: column;
                padding-right: 0;
                position: relative;
                border-radius: 8px;
                overflow: hidden;

                &[progress='true'] {
                    .snack-content {
                        margin-top: -4px;
                    }
                }

                .snack-content {
                    display: flex;
                    width: 100%;

                    .mdc-snackbar__actions {
                        margin-left: auto;
                        .mdc-button {
                            @include ink-color(var(--mdc-theme-secondary));
                        }

                        .mdc-icon-button {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }

    .mdc-dialog {
        z-index: 999;
    }
}
