.settings {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    --mdc-theme-primary: var(--mdc-theme-secondary);

    .output {
        display: flex;
        align-items: center;

        .output__margin {
            margin-left: 15px;
        }
    }

    button {
        width: fit-content;
    }

    label {
        width: fit-content;
    }

    h1 {
        margin: 15px 0;
    }

    .mdc-switch {
        margin: 5px 0px 0 5px;
    }
}
