@import '@material/button';
@import '@material/textfield';

.mdc-fab {
    z-index: 9;
    position: fixed;
    margin-top: 16px;
    margin-left: 16px;
    height: 56px;
    transition: width 0.5s;
    @include ink-color(var(--light-color));
    @include caret-color(var(--light-color));
    @include line-ripple-color(white);

    label {
        display: none;
        text-transform: none;
    }
}

.mdc-fab--extended {
    .mdc-text-field {
        display: flex;
        @include fill-color(transparent);
    }

    .mdc-fab__label {
        display: none;
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.mdc-dialog {
    z-index: 10;
    .mdc-dialog__surface {
        min-width: 950px;
        max-height: 625px !important;

        .mdc-dialog__content {
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .dialog-top {
                display: flex;
                width: 100%;
                height: 515px !important;
                align-items: center;

                //Game description
                #dialog-game-description {
                    height: 515px;
                    max-width: 500px;
                    overflow-y: scroll;
                    margin-left: 16px;
                    display: flex;
                    flex-direction: column;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                //Cover image
                img {
                    width: 342px;
                    height: 482px;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(66, 66, 66, 0.5);
                }
            }

            .dialog-bottom {
                display: flex;
                width: 100%;
                height: 515px !important;

                //Rating, devs, etc..
                .details {
                    margin-top: 8px;
                    width: 342px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-left: 18px;

                    div {
                        display: flex;
                        flex-direction: column;

                        p {
                            margin: 2px 0;
                        }
                    }
                }

                .game-screenshots {
                    width: 500px;
                    height: 400px;
                    display: flex;
                    overflow-x: auto;
                    margin-top: 8px;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    img {
                        object-fit: cover;
                        width: 500px;
                        border-radius: 10px;

                        &:not(:last-of-type) {
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }
}
