.searchbar {
  -webkit-app-region: no-drag;
  position: fixed;
  width: 50vw;
  top: 8px;
  border-radius: 8px;
  z-index: 9;
  background: #ffffff66;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #406575;
}
.searchbar .material-icons {
  width: 48px;
  height: 48px;
}
.searchbar input {
  color: #406575;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1em;
  line-height: 1rem;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}
.searchbar input:focus {
  outline: none;
}

.cards {
  width: auto !important;
  height: 100% !important;
  overflow-y: auto;
  margin: 0 auto;
  background: var(--mdc-theme-background);
}

.mdc-card {
  background: var(--mdc-theme-background);
  min-height: 200px;
  border-radius: 12px;
  margin: 20px;
  min-width: 375px;
  max-width: 375px;
  overflow: hidden;
}
.mdc-card:focus-within {
  -webkit-box-shadow: 0 0 0 3px var(--mdc-theme-secondary);
          box-shadow: 0 0 0 3px var(--mdc-theme-secondary);
  /* All the borders by using the spread properties */
}
.mdc-card .mdc-card__primary-action {
  padding: 0 16px 8px 16px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
}
.mdc-card .mdc-card__primary-action .game-card__primary {
  margin-top: auto;
  margin-bottom: 36px;
}
.mdc-card .mdc-card__primary-action .game-card__primary .mdc-typography--headline6 {
  color: white;
  margin-bottom: 0;
}
.mdc-card .mdc-card__primary-action .game-card__primary .mdc-typography--subtitle2 {
  color: var(--mdc-theme-primary);
  margin-top: 0;
  margin-bottom: 4px;
}
.mdc-card .mdc-card__action-buttons {
  height: 56px;
  margin-top: -56px;
  margin-left: 12px;
}

.game-dialog .dialog-content--loading {
  position: absolute;
  width: 100%;
}
.game-dialog .dialog-image {
  width: 100%;
}

.selected-game {
  display: none;
  position: absolute;
  top: 64px;
  height: calc(100% - 64px);
  width: 100%;
  background: var(--mdc-theme-background);
  overflow-y: auto;
}

.game-info .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.game-info .top-row.installed .mdc-typography--headline6 {
  margin-bottom: 44.6px !important;
}
.game-info .top-row .mdc-card {
  min-width: 360px;
  min-height: 600px;
  overflow: visible;
}
.game-info .top-row .mdc-card .mdc-card__primary-action {
  min-height: 600px;
  overflow: hidden;
  border-radius: 8px;
}
.game-info .top-row .title-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color);
}
.game-info .top-row .title-desc-container .mdc-typography--body2 {
  width: 100%;
  max-height: 495px;
  overflow-y: auto;
}
.game-info .top-row .title-desc-container .mdc-typography--body2 * {
  width: 95%;
}
.game-info .bottom-row {
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px;
  max-width: 100%;
}
.game-info .bottom-row .game-screenshots {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  border-radius: 10px;
}
.game-info .bottom-row .game-screenshots img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.game-info .bottom-row .game-screenshots img:not(:last-of-type) {
  margin-right: 12px;
}
.game-info .bottom-row .details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--color);
  margin-top: 16px;
}
.game-info .bottom-row .details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.game-info .bottom-row .details div p {
  margin: 2px 0;
}
.game-info .back-button-container {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mdc-theme-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  -webkit-app-region: no-drag;
}
.game-info .back-button-container button {
  color: white;
}
.game-info .back-button-container button::before, .game-info .back-button-container button::after {
  background-color: white;
}
.game-info .back-button-container button:hover::before {
  opacity: 0.08;
}
.game-info .back-button-container button.mdc-ripple-upgraded--background-focused::before, .game-info .back-button-container button:not(.mdc-ripple-upgraded):focus::before {
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.24;
}
.game-info .back-button-container button:not(.mdc-ripple-upgraded)::after {
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
.game-info .back-button-container button:not(.mdc-ripple-upgraded):active::after {
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.24;
}
.game-info .back-button-container button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.24;
}
