.snackbar-container {
  display: none !important;
}

.downloader {
  display: grid;
  grid-template-columns: 600px auto;
}
.downloader .download-item-container {
  border-right: 1px solid;
  border-color: var(--divider-color);
  width: 600px;
  min-width: 600px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.downloader .download-item-container::-webkit-scrollbar {
  display: none;
}
.downloader .download-item-container .downloader-list-item {
  background-color: var(--drawer-bg);
}
.downloader .download-item-container .downloader-list-item.active {
  border-right: 3px solid var(--mdc-theme-primary);
}
.downloader .download-item-container .downloader-list-item .download-item-body .download-item-content {
  margin-left: 26px;
  margin-bottom: 12px;
}
.downloader .download-item-container .downloader-list-item .download-item-body .download-item-content .title-desc h1 {
  margin-bottom: 0px;
  word-wrap: break-word;
  width: 95%;
}
.downloader .download-item-container .downloader-list-item .download-item-body .download-item-content .mdc-linear-progress {
  --mdc-theme-primary: #40c4ff;
  height: 7px;
  width: calc(100% - 32px);
  border-radius: 4px;
}
.downloader .download-item-container .downloader-list-item .download-item-body .download-item-content .mdc-linear-progress .mdc-linear-progress__bar-inner {
  border-top-width: 30px;
}
.downloader .download-item-container .downloader-list-item .download-item-actions {
  height: 52px;
  display: flex;
  align-items: center;
}
.downloader .download-item-container .downloader-list-item .download-item-actions .mdc-button:first-of-type {
  margin-left: 26px;
}
.downloader .download-info-container {
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.downloader .download-info-container .download-info-content {
  display: none;
}

@media (max-width: 1560px) {
  .downloader .download-info-container .top-row {
    flex-direction: column;
  }
  .downloader .download-info-container .top-row .title-desc-container {
    margin-left: 26px;
  }
}
