.cards {
  background: grey;
  display: grid;
  grid-gap: 20px;
  margin: 20px;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, 300px);
  background: var(--mdc-theme-background);
}
.cards .mdc-card {
  background: var(--el2);
  height: fit-content;
}
.cards .mdc-card__primary-action {
  padding: 0 0 8px 16px;
  color: white;
}
.cards .demo-card__title {
  margin-top: 12px;
  margin-bottom: 0px;
}
.cards .demo-card__subtitle {
  margin-top: 0px;
}
.cards .mdc-card {
  max-width: 600px;
}
