.overlays .snackbar-container {
  position: absolute;
  bottom: 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.overlays .snackbar-container .mdc-snackbar {
  position: relative;
  display: flex;
}
.overlays .snackbar-container .mdc-snackbar.snackbar--invis {
  display: none;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .mdc-linear-progress {
  border-radius: 4px 4px 0 0;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .snack-content {
  display: flex;
  width: 100%;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .snack-content.progress-true {
  padding-bottom: 4px;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .snack-content .mdc-snackbar__actions {
  margin-left: auto;
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .snack-content .mdc-snackbar__actions .mdc-button:not(:disabled) {
  color: var(--mdc-theme-secondary);
}
.overlays .snackbar-container .mdc-snackbar .snack-flex .snack-content .mdc-snackbar__actions .mdc-icon-button {
  margin-right: 6px;
}
