.overlays .snackbar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.overlays .snackbar-container .mdc-snackbar {
  position: relative;
  display: flex;
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface[progress=true] .snack-content {
  margin-top: -4px;
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface .snack-content {
  display: flex;
  width: 100%;
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface .snack-content .mdc-snackbar__actions {
  margin-left: auto;
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface .snack-content .mdc-snackbar__actions .mdc-button:not(:disabled) {
  color: var(--mdc-theme-secondary);
}
.overlays .snackbar-container .mdc-snackbar .mdc-snackbar__surface .snack-content .mdc-snackbar__actions .mdc-icon-button {
  margin-right: 6px;
}
.overlays .mdc-dialog {
  z-index: 999;
}
.overlays .mdc-dialog .mdc-dialog__surface {
  background-color: var(--el2);
}
.overlays .mdc-dialog .mdc-dialog__surface .mdc-dialog__title,
.overlays .mdc-dialog .mdc-dialog__surface .mdc-dialog__content {
  color: var(--color);
}
