.searchbar {
  -webkit-app-region: no-drag;
  position: fixed;
  width: 50vw;
  top: 8px;
  border-radius: 8px;
  z-index: 9;
  background: #ffffff66;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 48px;
  display: flex;
  color: #406575;
}
.searchbar .material-icons {
  width: 48px;
  height: 48px;
}
.searchbar input {
  color: #406575;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1em;
  line-height: 1rem;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}
.searchbar input:focus {
  outline: none;
}

.store {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.store .cards {
  max-height: 0px;
}
.store .genres .genre-container {
  min-height: 450px;
}
.store .genres .genre-container h3 {
  margin-left: 5vw;
  color: white;
}
.store .genres .genre-container .genre-cards {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.store .genres .genre-container .genre-cards .mdc-card:first-of-type {
  margin-left: 5vw;
}
.store .genres .genre-container .genre-cards:hover::-webkit-scrollbar {
  display: initial;
}
.store .genres .genre-container .genre-cards::-webkit-scrollbar {
  display: none;
  height: 12px;
}
.store .genres .genre-container .genre-cards::-webkit-scrollbar-track {
  background-color: var(--mdc-theme-background);
}
.store .genres .genre-container .genre-cards::-webkit-scrollbar-thumb {
  border-left: 5vw solid var(--mdc-theme-background);
  border-radius: 0;
}
