.mdc-fab {
  z-index: 999;
  position: fixed;
  margin-top: 16px;
  margin-left: 16px;
  height: 56px;
  transition: width 0.5s;
}
.mdc-fab:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--light-color);
}
.mdc-fab .mdc-text-field__input {
  caret-color: var(--light-color);
}
.mdc-fab:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: white;
}
.mdc-fab label {
  display: none;
  text-transform: none;
}

.mdc-fab--extended .mdc-text-field {
  display: flex;
}
.mdc-fab--extended .mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-fab--extended .mdc-fab__label {
  display: none;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 960px) {
  .cards:not(:first-child) {
    justify-content: center;
  }
}
