.side-pane {
	width: 500px;
}

.setting-box {
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	direction: ltr;
}

input {
	width: 100%;
	margin-bottom: 10px;
}

/* Generate Games List */

#generate-details {
	display: block;
}

#generate-details:placeholder-shown {
	display: none;
}