.home-content {
	display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height: 100%;
}

div::-webkit-scrollbar {
    display: none;
  }

.update {
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	width: 350px;
	height: fit-content;
	background-color: rgba(0, 0, 0, .5);
	font-size: 20px;
	color: white;
    font-family: vapor;
    text-transform: uppercase;
	display: none;
}

.update-title {
	position: relative;
	text-align: center;
	font-size: 25px;
}

.update-changes {
	position: relative;
	margin-left: 20px;
	font-size: 16px;
	width: calc(100% - 40px);
}

.update-download {
	position: relative;
	margin-left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	margin-bottom: 20px;
}

.donate {
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	width: 350px;
	height: fit-content;
	background-color: rgba(0, 0, 0, .5);
	font-size: 20px;
	color: white;
	font-family: vapor;
}

.donate-title {
	position: relative;
	text-align: center;
	font-size: 25px;
}

.donate-button {
	position: relative;
	margin-left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	margin-bottom: 20px;
}

.discord {
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	width: 350px;
	height: fit-content;
	background-color: rgba(0, 0, 0, .5);
	font-size: 20px;
	color: white;
	font-family: vapor;
}

.discord-title {
	position: relative;
	text-align: center;
	font-size: 25px;
}

.discord-button {
	position: relative;
	margin-left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	margin-bottom: 20px;
}

.info {
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	width: 350px;
	height: fit-content;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, .5);
	font-size: 20px;
	color: white;
	font-family: vapor;
}

.info-title {
	position: relative;
	text-align: center;
	font-size: 25px;
}

.info-button {
	position: relative;
	margin-left: 20px;
	width: calc(100% - 40px);
	height: 50px;
	margin-bottom: 20px;
}