body {
    background-color: black;
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 

<<<<<<< HEAD
button {
    user-select: none;
}

=======
>>>>>>> 47cc091b611512d50c156a1a175e5a23d32503c8
/*Custom background div (for extra properties)*/

.background {
    background-size: cover;
    object-fit: none;
    filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: -1;
}

  /*Main div*/

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

  /*Header*/

.header {
    background-color: var(--bg-primary);;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 75px;
    line-height: 75px;
    backdrop-filter: blur(20px);
    display: flex;
}

.header-icon {
    position: relative;
    height: 75px;
    min-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon i {
    font-size: 40px;
    position: relative;
    color: var(--text-primary);
    user-select: none;
}

/* Window Buttons*/

.window-buttons {
    position: relative;
    background-color: var(--bg-secondary);
    border: none;
    height: 100%;
    min-width: 75px;
    max-width: 75px;
}

.window-buttons i {
    font-size: 40px;
    position: relative;
    color: var(--text-secondary);
    user-select: none;
}

.window-buttons:hover i {
    color: white;
}

/*Middle bar at top to drag the window*/

.drag-bar {
    margin-left: 0px;
    width: 100%;
    position: relative;
    -webkit-app-region: drag;
}

.drag-bar h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    user-select: none;
    color: white;
    font-family: vapor;
    -webkit-app-region: none;
}

/* Left navigationn bar */

.navbar {
    position: relative;
    background-color: var(--bg-primary);
    height: calc(100% - 75px);
    top: 75px;
    min-width: 75px;
    max-width: 75px;
    user-select: none;
    font-family: vapor;
    color: var(--text-secondary);
    backdrop-filter: blur(20px);
    transition:min-width .25s;
}

.navbar:hover {
    min-width: 300px;
}

.navbar:hover .link-text {
    display: flex;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
    height: 75px;
}

.nav-item:nth-last-child(2) {
    margin-top: auto;
}

.nav-link h1 {
    position: relative;
    display: none;
    margin-left: 15px;
    transition: .5s;
}

.nav-link i {
    position: relative;
    font-size: 50px;
    margin-left: 11px;
}

.middle {
    display: flex;    
    align-items: center;
    height: 100%;
}
  
.middle:hover {
    background: var(--bg-secondary);
    color: var(--text-primary);
}

  /* Progress bar */

.progress-bar {
    position: relative;
    height: 75px;
    width: 100%;
}

.download-progress {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--bg-secondary);
}

.download-speed-counter {
    display:none;
}

.navbar:hover .download-speed-counter {
    display: block;
}

.navbar:hover .download-speed-counter:empty {
    display: none;
}

.progress-status {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.progress-status h1 {
    position: relative;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    color: white;
}

<<<<<<< HEAD
=======
/*
.progress-bar h1 {

}

*/

>>>>>>> 47cc091b611512d50c156a1a175e5a23d32503c8
/* Side pane (page contents) */

.side-pane {
    position: relative;
    float: right;
    top: 75px;
    height: calc(100% - 75px);
    width:  calc(100% - 75px);
    z-index: 1;
<<<<<<< HEAD
=======
}

.side-pane h1 {
    position: relative;
    top: 0px;
    left: 20px;
    user-select: none;
    color: var(--text-primary);
    font-family: vapor;
}

.side-pane h2 {
    position: relative;
    left: 20px;
    top: 0px;
    user-select: none;
    color: var(--text-primary);;
    font-family: vapor;
>>>>>>> 47cc091b611512d50c156a1a175e5a23d32503c8
}