:root {
	font-size: 16px;
	font-family: vapor;
	--text-primary: white;
	--text-secondary: rgba(255, 255, 255, .5);
	--bg-primary: rgba(0, 0, 0, .25);
	--bg-secondary: rgba(0, 0, 0, .5);
	--transition-speed: 500ms;
	--blur: blur(20px);
}

button {
	border: none;
	background-color: var(--bg-secondary);
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	font-family: vapor;
	padding: 10px;
	backdrop-filter: var(--blur);
}

*::-webkit-scrollbar {
	left: 10px;
	background-color: var(--bg-primary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bg-secondary);
}

p {
	color: white;
	font-family: vapor;
	font-size: 25px;
	text-transform: uppercase;
	user-select: none;
}

input {
	border: none;
  background-color: var(--bg-secondary);
  backdrop-filter: var(--blur);
	padding: 10px;
	font-size: 20px;
	color: white;
}

input::placeholder {
	color: white;
	opacity: 0.75;
	user-select: none;
}

h1 {
	user-select: none;
}

h2 {
	user-select: none;
	color: var(--text-primary);
	font-family: vapor;
}
