.side-pane {
	width: 500px;
}

.setting-box {
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	direction: ltr;
}

.setting-box h2 {
	text-transform: uppercase;
	width: 100%;
}

input {
	width: 100%;
	margin-bottom: 10px;
}

.settings {
	height: 100%;
	overflow-y: auto;
	direction: rtl;
}

/* Custom Wallpaper */

.custom-wallpaper button {
	margin-right: 10px;
}

/* Custom Directory */

.custom-download-location button {
	margin-right: 10px;
}

/* IGDB Login */

#igdb-details {
	display: none;
}