.side-pane {
    width: 450px;
}

.settings-div {
    position: relative;
    left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.holder {
    position: relative;
    width: 100%;
}

/* Custom Wallpaper */

.custom-wallpaper button {
    border: none;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
    margin-right: 5px;
}

.custom-wallpaper input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white;
}

/* Custom Download Location */

.custom-download-location button {
    border: none;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
    margin-right: 5px;
}

.custom-download-location input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
}

/* JDownloader Login */

.downloader-login button {
    position: relative;
    border: none;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
    left: 0px;
    margin-bottom: 5px;
}

.downloader-login input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 

    margin-bottom: 5px;
}

.downloader-login input::placeholder {
    color: white;
    opacity: 0.75;
}

.downloader-login input:after { 
    content:"*"; 
}

.downloader-details {
    position: relative;
    border: none;
    width: 80% !important;
    background-color: transparent !important;
    padding: 10px;
    font-size: 95%;
    color: white; 
}

/* IGDB Login */

.igdb-login button {
    position: relative;
    border: none;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
    left: 0px;
    margin-bottom: 5px;
}

.igdb-login input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 

    margin-bottom: 5px;
}

.igdb-login input::placeholder {
    color: white;
    opacity: 0.75;
}

.igdb-details {
    position: relative;
    border: none;
    width: 80% !important;
    background-color: transparent !important;
    padding: 10px;
    font-size: 95%;
    color: white; 
}

/* Generate Games List */

.generate-games button {
    position: relative;
    border: none;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
    left: 0px;
    margin-bottom: 5px;
}

.generate-games input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 

    margin-bottom: 5px;
}

.generate-games input::placeholder {
    color: white;
    opacity: 0.75;
}

.generate-details {
    position: relative;
    border: none;
    width: 70% !important;
    background-color: transparent !important;
    padding: 10px;
    font-size: 95%;
    color: white; 
}

/* App Version */

  .app-version input {
    position: relative;
    border: none;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    font-size: 95%;
    color: white; 
}