.side-pane {
    width: 500px;
}

.setting-box {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    direction:ltr; 
}

input {
    width: 100%;
    margin-bottom: 10px;
}

.settings {
    height: 100%;
    overflow-y: auto;
    direction:rtl; 
  }

  .settings::webkit-scrollbar {
  }

/* Custom Wallpaper */

/* Custom Download Location */

/* JDownloader Login */

#downloader-details {
    display: none;
}

/* IGDB Login */

#igdb-details {
    display: none;
}

/* Generate Games List */

#generate-details {
    display: none;
}

/* App Version */