.list-container {
    position: relative;
    height: calc(100vh - 75px);
}

.game-store-list {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


div::-webkit-scrollbar {
  display: none;
}

.game-div {
  position: relative;
  border: none;
  width: 200px;
  margin: 10px;
  height: 300px;
  margin-bottom: 55px;
}

.game-cover {
  width: 100%;
  border-radius: 25px;
  height: 266px;
}

.game-name {
  text-align: center;
  color: white;
  font-family: vapor;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: -0px;
}