@import '@material/button';
@import '@material/textfield';

.mdc-fab {
    z-index: 999;
    position: fixed;
    margin-top: 16px;
    margin-left: 16px;
    height: 56px;
    transition: width 0.5s;
    @include ink-color(var(--light-color));
    @include caret-color(var(--light-color));
    @include line-ripple-color(white);

    label {
        display: none;
        text-transform: none;
    }
}

.mdc-fab--extended {
    .mdc-text-field {
        display: flex;
        @include fill-color(transparent);
    }

    .mdc-fab__label {
        display: none;
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 960px) {
    .cards:not(:first-child) {
        justify-content: center;
    }
}
