@import "material-components-web/material-components-web.scss";
@import "../node_modules/material-design-icons-webfont/dist/css/material-design-icons-webfont.css";
html, body {
	min-height: 100vh;
	margin:0;
	padding:0;
}
