main {
    .content {
        user-select: none;
        margin-top: 20vh;

        h1 {
            font-weight: bold;
            color: white;
        }

        p {
            color: red;
            font-weight: bolder;
            font-size: 1.45em;
        }
    }
}

.download-list {
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
    border-bottom: none;
    list-style: none;
    padding: 0;

    .download-item {
        padding: 1em;
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;

        .split {
            display: flex;
            width: fit-content;
        }

        &.alpha {
            background-color: #e66e6e;

            button {
                border-color: #e66e6e;
            }
        }

        img {
            height: 100%;
            width: 100px; 
        }

        .info {
            display: flex;
            flex-direction: column;
            margin: 0 2em;

            h2 {
                color: white;
                margin: 0;
            }

            p {
                color: #121212;
            }
        }

        button {
            font-size: 2em;
        }
    }
}

@media only screen and (min-width: 900px) {
    main {
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 8.5em;
            }

            .download-item {
                height: 100px;
                width: 70vw;
                button {
                    margin-left: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    main {
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 5em;
            }

            .download-list {
                .download-item {
                    height: fit-content;
                    width: 80vw;
                    flex-direction: column;

                    button {
                        margin-top: 1em;
                        width: 90%;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 530px) {
    main {
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 5em;
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    main {
        display: flex;
        flex-direction: column;

        .content {
            margin-top: 25%;
            padding-bottom: 10%;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 3em;
                width: fit-content;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    main {
        display: flex;
        flex-direction: column;

        .content {
            margin-top: 25%;
            padding-bottom: 10%;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 10vw;
                width: fit-content;
            }
        }
    }
}
