main {
    .quote {
        user-select: none;
        margin-top: 20vh;

        h1 {
            font-weight: bold;
            color: white;
        }
    }
}

@media only screen and (min-width: 900px) {
    main {
        .quote {
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                font-size: 4em;
            }

            h1 {
                font-size: 8.5em;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    main {
        .quote {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                font-size: 3em;
            }

            h1 {
                font-size: 5em;
            }
        }
    }
}

@media only screen and (min-width: 530px) {
    main {
        .quote {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                font-size: 3em;
            }

            h1 {
                font-size: 5em;
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    main {
        display: flex;
        flex-direction: column;

        .quote {
            margin-top: 25%;
            padding-bottom: 10%;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                font-size: 2em;
            }

            h1 {
                font-size: 3em;
                width: fit-content;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    main {
        display: flex;
        flex-direction: column;

        .quote {
            margin-top: 25%;
            padding-bottom: 10%;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
                font-size: 7.5vw;
            }

            h1 {
                font-size: 10vw;
                width: fit-content;
            }
        }
    }
}
