.loading {
    position: fixed;
    top: 0;
    background: #40c4ff;
    width: 100vw;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    transform: translateZ(0);
    animation: disappear 0.5s forwards 1.5s;
    * {
        user-select: none;
        cursor: default;
    }

    .overlay {
        position: absolute;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        h1 {
            color: white;
            font-size: 8.5vw;
            font-weight: bold;
        }
    }

    .ripple {
        z-index: 1;
        border: 1px solid transparent;
        position: relative;

        .circle:nth-child(5) {
            width: 110%;
            height: 110%;
            left: -55%;
            bottom: -55%;
            opacity: 0.2;
        }

        .circle:nth-child(4) {
            width: 90%;
            height: 90%;
            left: -45%;
            bottom: -45%;
            opacity: 0.4;
        }

        .circle:nth-child(3) {
            width: 75%;
            height: 75%;
            left: -40%;
            bottom: -40%;
            opacity: 0.6;
        }

        .circle:nth-child(2) {
            width: 50%;
            height: 50%;
            left: -25%;
            bottom: -25%;
            opacity: 0.8;
        }

        .circle:nth-child(1) {
            width: 35%;
            height: 35%;
            left: -17.5%;
            bottom: -17.5%;
            opacity: 1;
            z-index: 1;
            box-shadow: none;
        }

        .circle {
            position: absolute;
            border-radius: 50%;
            background: var(--accent);
            animation: ripple 3s infinite;
            box-shadow: 0px 0px 1px 0px var(--main);
        }

        @keyframes ripple {
            0% {
                transform: scale(0.8);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(0.8);
            }
        }

        @keyframes disappear {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                display: none;
                pointer-events: none;
            }
        }
    }
}

@media (min-width: 720px) {
    .loading {
        .ripple {
            width: 45vw;
            height: 45vw;
            top: calc(100% - 45vw);
        }
    }
}

@media (max-width: 720px) {
    .loading {
        .ripple {
            width: 100vw;
            height: 100vw;
            top: calc(100% - 100vw);
        }
    }
}
