:root {
    --main: #40c4ff;
    --accent: #f57ba4;
}

button {
    border-radius: 15px;
    color: white;
    border: solid 0.1em var(--main);
    background-color: var(--accent);
    padding: 0.4em 0.9em;

    &:focus {
        border: solid 0.1em white;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--main);
    font-family: sans-serif;

    * {
        &:focus {
            outline: none;
        }
    }

    main {
        height: 100%;

        nav {
            .title {
                color: white;
                display: flex;
                align-items: center;

                img {
                    width: 36px;
                    height: 36px;
                    margin-right: 1em;
                }
            }

            .links {
                a {
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                    user-select: none;
                    margin-bottom: 8px;

                    &:visited,
                    &:active {
                        margin-bottom: -2px;
                        border-bottom: solid 4px white;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    nav {
        height: 52px;
        display: flex;
        align-items: center;

        .title {
            width: fit-content;
            font-size: 1em;
            margin-left: 1em;
        }

        .links {
            margin-left: auto;
            margin-right: 1em;
            display: flex;

            a {
                font-size: 1.25em;
                padding: 0 15px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    nav {
        height: 52px;
        display: flex;
        align-items: center;

        .title {
            width: fit-content;
            font-size: 1em;
        }

        .links {
            margin-left: auto;
            margin-right: 1em;
            display: flex;

            a {
                font-size: 1.25em;
                padding: 0 15px;
            }
        }
    }
}

@media only screen and (min-width: 530px) {
    nav {
        height: 52px;
        display: flex;
        align-items: center;

        .title {
            width: fit-content;
            font-size: 1em;
            margin-left: 1em;
        }

        .links {
            margin-left: auto;
            margin-right: 1em;
            display: flex;

            a {
                font-size: 1.25em;
                padding: 0 15px;
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    nav {
        height: 208px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            width: fit-content;
            font-size: 1.5em;

            h2 {
                padding: 0;
                margin: 0.5em;
            }
        }

        .links {
            width: 100%;
            height: fit-content;
            align-items: center;
            justify-content: space-around;
            display: flex;

            a {
                font-size: 1.5em;
                padding: 0 15px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    nav {
        height: 208px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            width: fit-content;
            font-size: 8vw;
            flex-direction: column;

            img {
                margin-top: 1em;
            }

            h2 {
                padding: 0;
                margin: 0.5em;
            }
        }

        .links {
            width: 100%;
            height: fit-content;
            align-items: center;
            justify-content: space-around;
            display: flex;
            margin-top: 1em;

            a {
                font-size: 8vw;
                padding: 0 15px;
            }
        }
    }
}
